@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
  position: relative;
}

.opacity {
  visibility: hidden;
  transition: visibility 0s linear 0s, opacity 400ms; 
}

.add {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.274);
  visibility: visible;
  z-index: 100;
  position: absolute;
  transition: all 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

.player {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 400ms;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 5px;
  background-color: rgba(0, 0, 0, 0.185);
  border-radius: 10px;
  padding: 10px;
}

.range {
  width: 180px;
  height: 9px;
  background-color: rgba(255, 255, 255, 0.486);
  border-radius: 3px;
  align-self: center;
  cursor:col-resize;
}

.volume-range {
  width: 130px;
  height: 9px;
  background-color: rgba(255, 255, 255, 0.486);
  border-radius: 3px;
  align-self: center;
  cursor:col-resize;
}

.progress, .volume-level {
  width: 0px;
  height: 100%;
  background: linear-gradient(to left, #fa026e, #f9a894 100%);
  border-radius: 3px;
  transition: all 0.2s;
}

.volume-level {
  width: 50%;
}

.current-track-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.time-block {
  display: flex;
  flex-wrap: wrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 5px;
}

.current-track {
  align-self: flex-start;
  text-align: start;
  margin-bottom: 5px;
  height: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.range-and-mute {
  display: flex;
  margin-right: 5px;
  flex-wrap: wrap;
}

.player-controls {
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 5px;
}

.play-list {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.individual-play {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  background-image: url("../assets/svg/play.svg");
  cursor: pointer;
  opacity: .8;
  border: none;
  background-color: transparent;
}

.individual-play-active {
    background-image: url("../assets/svg/pause.svg");

}

.individual-text {
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.play-item {
  max-width: 240px;
  position: relative;
  padding: 5px;
  padding-left: 0px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  text-align: justify;
}

.play-item:hover, .settings:hover, .rs img:hover, .github img:hover {
  opacity: 1;
}

.rs img:active, .github img:active, .settings:active {
  transform: scale(110%);
}

.item-active {
   /* text-shadow: 2px 2px rgba(255, 0, 0, 0.952); */
  background: linear-gradient(to left, #fa026e, #f9a894 100%);
background-position: 0 100%;
background-size: 100% 2px;
background-repeat: repeat-x;
color: linear-gradient(to left, #fa026e, #f9a894 100%);

}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.mute:hover,
.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.mute {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  background-image: url("../assets/svg/unmuted.svg");
  cursor: pointer;
  opacity: .8;
  border: none;
  background-color: transparent;
}

.unmute {
  background-image: url("../assets/svg/muted.svg")
}

.todo-container {
  width: 300px;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 400ms;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.185);
  border-radius: 10px;
  padding: 10px;
  row-gap: 10px;
  column-gap: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.todo-text {
  height: 30px;
  border: none;
  /* background: linear-gradient(180deg, #f9f9fa 0%, #fccced 100%); */
  border-radius: 16px;
  width: 200px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: white;
  color: #fa026e;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.308);
  opacity: 0.8;
  padding: 5px;
}

.todo-text::placeholder {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #252425d2;
  font-weight: 600;
}

input[type="checkbox"].items {
 display: none;
}

.todo-text:focus {
  outline: none;
}

.todolabels:hover {
  transform: scale(105%);
}

.todo-text:hover, .todo-add:hover {
  opacity: 1;
}

.todo-add:active {
    transform: scale(110%);

}

.todo-add {
  height: 30px;
  width: 70px;
  border-radius: 12px;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(21deg, #fa026e, #f9a894);
  color: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.308);
  opacity: 0.8;
}



.todo-items {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: space-between;
}


.todo-element {
  background-color: rgba(218, 218, 218, 0.342);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 16px;
  padding: 5px 10px;
  column-gap: 10px;
}

.items:checked + .todolabels {
  opacity: 0.3;
  text-decoration: line-through;
}

.done {
  opacity: 0.5;
  z-index: 3;
}

.important {
  background: linear-gradient(21deg, #fa026e, #f9a894);
}

.close {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  transform: rotate(45deg);
  z-index: 100;
  color:#fa026e;
  cursor: pointer;
}

.close:hover {
color: white;
}

.weather {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 400ms;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 190px;
  min-height: 180px;  
  text-align: left;
   background-color: rgba(0, 0, 0, 0.185);
  border-radius: 10px;
  padding: 10px;
  margin-left: 110px;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 400ms;
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 400ms;
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.greeting-container {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 400ms;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  width: 100vw; 
  font-size: 40px;
  text-align: center;
}

.greeting {
  /* flex: 1;   */
  padding: 10px;
  text-align: right;
}

.name {
  /* flex: 1; */
  max-width: 50%;  
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
}

.quotes-container {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 400ms;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.settings-container {
  display: flex;
  justify-content: flex-start;
  width: 10%;
  position: relative;
}

.settings {
  width: 40px;
  height: 40px;
  margin: 10px;
  background-image: url("../assets/svg/settings2.svg");  
  border: none;
  background-color: transparent;
  align-self: flex-end;
  cursor: pointer;
  opacity: 0.8;
  flex-shrink: 0;
  z-index: 101;
}


.dropdown-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 400ms, opacity 400ms;
  position: absolute;
  min-width: 190px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.363);
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  list-style-type: none;
  top: -90%;
  display: flex;
  flex-direction: column;
  z-index: 101;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown-content-2 {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  list-style-type: none;
}

.settings-item {
  color: white;
  padding: 9px 16px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.lang-dropdown {
  list-style-type: none;
  margin-left: 15px;
}

.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 400ms;
};

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.links-container {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.rs img, .github img {
  width: 60px;
  height: 40px;
  background: transparent;
  opacity: 0.8;
}

.year {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 400ms, opacity 400ms;
}

.image-dropdown, .lang-dropdown {
  width: 80px;
  height: 25px;
  text-align: center;
  outline: none;
  border-radius: 10px;
  color: white;
  border: 1px solid #fa026e; 
  background: linear-gradient(21deg, #fa026e, #f9a894);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-overflow: ellipsis;
}

option {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

option:focus {
  background-color: #fa026e;
}

 input[type=checkbox].toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
 input[type=checkbox]:focus.toggle {
  outline: 0;
}

.tags-input-field {
  height: 25px;
  border: none;
  /* background: linear-gradient(180deg, #f9f9fa 0%, #fccced 100%); */
  border-radius: 10px;
  width: 130px;
  padding: 5px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 30px;
  background: linear-gradient(21deg, #fa026e, #f9a894);
  color: white;

}

.tags-input-field:focus {
  border: 1px solid #fa026e; 
  outline: none;
  color: #fa026e;
  background: white;
}

.toggle {
  height: 25px;
  width: 45px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  margin: 0;
  border: 2px solid #fa026e;
  background: linear-gradient(180deg, #f9f9fa 0%, #fccced 100%);
  transition: all 0.2s ease;
}
.toggle:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fa026e;
  box-shadow: 0 1px 2px linear-gradient(to left, #fa026e, #f9a894 100%);;
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}

.toggle:checked {
  border-color: #f9a894;
}

.toggle:checked:after {
  transform: translatex(20px);
}

@media (max-width: 950px) {
      .weather {
    margin-left: 0px;
  }

  .header {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  row-gap: 10px;
}

  .time-block {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: hidden;
  }
.header {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  row-gap: 10px;
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.year {
  width: 60px;
}

.dropdown-container {
  top: -115%;
}
/* .footer {
    display: flex;
  flex-wrap: wrap;
  flex-direction: column;
} */

.player {
  flex-shrink: 0;
}

  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }

  .weather {
    margin-left: 0px;
  }

  .name::placeholder {
    font-size: 23px;
  }
}